
body {
  margin: 0;
  font-family: 'Arial', sans-serif; 
  background-color: #f4f4f4; 
}

.colleges-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background: white; 
  border-radius: 8px; 
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.colleges-header{
  border: solid 1px;
  background-color: #ddd;
  box-shadow: #666;
}


.colleges-header p{
  text-align: center;
}

h1 {
  text-align: center;
  color: #333; 
}

p {
  text-align: center;
  color: #555; 
  margin-bottom: 30px;
}

.colleges-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.colleges-list li {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.colleges-list li:last-child {
  border-bottom: none;
}

.colleges-list li a {
  text-decoration: none;
  color: #333;
  display: flex;
  align-items: center;
}

.colleges-list li a:hover {
  color: #007bff;
}

.arrow-icon {
  margin-left: 10px;
  font-size: 24px;
  color: #666;
}

.icon {
  margin-right: 10px;
  font-size: 24px;
}


@media (max-width: 768px) {
  .colleges-container {
      padding: 10px;
  }

  h1 {
      font-size: 2em;
  }

  .colleges-list li {
      padding: 5px;
  }

  .arrow-icon {
      margin-left: 10px;
      font-size: 18px;
  }

  .icon {
      margin-right: 10px;
      font-size: 18px;
  }
}