
body {
    margin: 0;
    font-family: Arial, sans-serif;
    line-height: 1.5;
    background-color: #f4f4f4;
    color: #444;
}


.units-page {
    max-width: 1200px;      
    margin: 0 auto;          
    padding: 20px;           
    background-color: #fff;  
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    border-radius: 8px;     
}


.header {
    background-color: #44444468; 
    color: #ffffff;            
    padding: 20px;             
    text-align: center;        
    border-radius: 8px 8px 0 0;
    box-shadow: #e1f5fe; 
}

.header h1 {
    margin: 0;                
    font-size: 2.5em;        
}

.header p {
    color: #ff6347;
    text-align: center;
    font-size: 1.2em;          
    margin: 10px 0 0;       
}


.units {
    margin-top: 20px;         
}

.units-list {
    list-style: none;         
    padding: 0;               
    margin: 0;                
}


.units-item {
    margin-bottom: 20px;      
}

.units-item:last-of-type {
    margin-bottom: 0;          
}

.units-item a {
    display: flex;            
    align-items: center;       
    text-decoration: none;
    color: #007BFF;            
    border: 2px solid transparent; 
    border-radius: 4px;        
    background-color: #f0f8ff; 
    padding: 10px;            
    transition: background 0.3s, border 0.3s; 
}


.units-item a:hover {
    background-color: #e1f5fe; 
        
}


.arrow-icon {
    margin-right: 10px;       
    font-size: 1.2em;         
}

@media (max-width: 768px) {
    .header h1 {
        font-size: 2em;        
    }

    .header p {
        font-size: 1em;        
    }

    .units-page {
        padding: 15px;         
    }

    .units-item a {
        padding: 15px;          
    }
}

@media (max-width: 480px) {
    .header h1 {
        font-size: 1.5em;      
    }

    .units-item a {
        font-size: 0.9em;       
    }
}
